{% extends 'default.twig' %}

{% block content %}
    <div class="row">
        <div id="breadcrumb" class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                {# <li>
                    <a href="#">Tables</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li> #}
            </ol>
        </div>
    </div>
    

{% endblock %}

{% block script %}{% endblock %}