{% extends 'default.twig' %}

{% block content %}
    <div class="row custom-spacing-top row-custom-nomargin">
        <div class="col0md-12">
            {% include 'templates/messages.twig' %}
        </div>
    </div>
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block script %}{% endblock %}